.navbar{
	z-index:1;
	background-color:grey;
	opacity:0.6;
	position:fixed;
	width:100%;
}
.navbar a{
	padding: 1% 1%;
	font-size:18px;
	margin-right:4%;

	float:right;
	color:black;
	text-decoration:none;
	
	
}
#logo {
	margin-left:4%;
	float:left;
}

.navbar a:hover{
	color:white;
	
	
}

#footer{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
	position:sticky;
    background-color: black;
    height: 250px;
    width: 100%;
}
