.content{
    font-size: 15px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    box-sizing: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    color: black!important;}

.textt{
     
    line-height: 1.5;
    box-sizing: inherit;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    color:#00004d !important;

}
.opacity{
    
    font-size: 15px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    color: white!important;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-bottom: 4px solid #8ac7db;
    margin: 20px 0;
    opacity: 0.60;
    }
.section{
    font-size: 15px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    color: black!important;
    box-sizing: inherit;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.fa-phone,.fa-location-dot,.fa-envelope{  
       
    box-sizing: inherit;
    font-size: 36px!important;
    margin-right: 16px!important;
    color: #cc0000!important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    width: 1.28571429em;
    text-align: center;
    content: "\f041";


}

.fa{
padding:5px 10px;
font-size:25px;
width:30px;
text-aligan:none;
border-radius:50%;
}    
.fas{
color:#757575;;
font-size:50px;


}
.fas:hover {
  color: tomato;
  
}

body{
   background-image:url('pexels-photomix-company-887751.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   
  
}

.padding {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    margin:0 200px 0 0 ;
}
.input {
    padding: 6px;
    display: block;
    border: none;
    border-bottom: 4px solid #ccc;
    width:55%;
    
}
.light-gray, {
    color: balck!important;
    background-color: #f1f1f1!important;
}
.padding-large {
    padding: 12px 24px 20px 11px!important;
    text-decoration: none;
    border: none;
font: inherit;
    margin: 20px;
font-family: Verdana;   
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}
a:hover{color: #ff6347;}

button:hover {
  background-color:#d9d9d9;
   
    
}
