.page-header {    
    font-size: 1rem;
    text-align: left;
    color: #3C4858;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    background-position: center center;
    background-size: cover;
    margin: -120;
    padding: 500;
    border: 150;
    display: flex;
    align-items: center;
    position: relative;
    height: 90vh;
    min-height: 90vh;
    background-image: url('tokyo.jpg');
    border-radius: 8px; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .7);
}
.container{
    font-weight: 300;
    width: 100%;
    padding-right: 300px;
    padding-left: 200px;
    max-width: 720px; 
    
}
.row{    
    display: flex;
    margin-right: -45px;
    margin-left: -45px;
}
.col-md-8{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; 
}
.title{
    line-height: 1.15em;
    margin: 70px 250px 70px 10px;
    font-weight: 700;
    font-family: "Times New Roman", serif;
    color:   #b30000;
    font-size: 45px!important;
}
#tok{
    font-family:"Arial";
    color: #0099cc ;
    padding-top:35px;
    margin-bottom:200px;
    margin-left:220px;
    font-size:40px
}
.frist{  
    color: #3C4858;
    font-family: "Arial";
    font-weight: 300;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0 70px -60px;
    font-size: 20px;
    text-align: justify;
}
.leftt{
    
    color: #3C4858;
    font-family: "Arial";
    font-weight: 300;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    margin:52% 5% -3% 53%;
}
.fig{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
    color: #ffb433;
    font-size: 15px;
    padding-top: 5px;
    font-style: italic;
    
 }                   
.imgsenso{
   
  border-radius: 8px; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .7);
  margin:0 0 0 51%;
}
.figu{
     font-family: "Roboto";
     font-size: 15px;
     padding-top: 5px;
     font-style: italic;
     margin:0 0 0 53%;
     color: #04339d;
     position: relative;
    }
body{
    background-color:#e6e6ff;
    margin: 0px;
}
.rightt{
     color: #3C4858;
     font-family: "Arial";
     font-weight: 300;
     line-height: 1.5em;
     box-sizing: border-box;
     font-size: 20px;
     text-align: left;
     position: relative;
     margin: --43% 52% -44% 1%;
}
.last{
    
    color: #3C4858;
    font-family: "Arial";
    font-weight: 300;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    margin: -27% -2% 2% 70%;
}
.fig2{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
    color: #b30000;
    font-size: 15px;
    padding-top: 0px;
    font-style: italic;
    margin-left:3%;
 }   
.lastt{
    
    color: #3C4858;
    font-family: "Arial";
    font-weight: 300;
    line-height: 1.5em;
    box-sizing: border-box;
    margin:3% 1% 0%; ;
    font-size: 20px;
    text-align: left;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #bb5e5e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.nav a {
  display: block;
  color: black
  padding : 8px 16px;
  text-decoration: none;
  width: 100% ;
  font-size:20px;
  margin-top:20px;
  color: #030a1c;
}

.nav a:hover:not(.active) {
background-color: #555;
color: #ffffff;
}



.navbar {
	display: flex;
	flex-direction: row;
	position:sticky;
	top:0;
	background-color:white;
	z-index: 999;
}




.navbar a {
	font-family:'Brush Script MT';
	padding: 1% 1%;
	font-size:18px;
	margin-left:2%;
    float: left;
   
	color:black;
	text-decoration:none;
}

.navbar a:hover {
	opacity:0.5;
	color:white;
	background-color:#05a081;
}



#logo {
	margin-left:3%;
	float:left;
}
#navlogin {
	background-color:#05a081;
	color:white;
}
.dd{
	position: relative;
	
}
.ddb{
	background-color: #04AA6D;
  	color: white;
  	padding: 16px;
  	font-size: 16px;
	height: 100%;
  	border: none;
}
.contdd {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:160px;
	float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.contdd a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
  	display: block;
	width: 75%;
}
.contdd a :hover {background-color: #ddd;}
.dd:hover .contdd{
	display: block;
}
.dd:hover .ddb{
	background-color: #3e8e41;
}

#footer{
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  position: sticky;
  background-color: #17242d;
  height: 250px;
  width: 100%;
}
#footer .link {
  height: 100%;
}
.c{
  display: flex;
  flex-direction: row;
}
.c li{
  margin-bottom: 16px;
}
.c a {
	color:white;
	text-decoration: none;
    display: block;
}
.c a:hover{
    opacity: 0.5;
}
.fa {
  padding: 15px 10px;
  font-size: 30px; 
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(211, 211, 211);
}
.fa a{
  margin: 20px;
}
.fa-facebook {  
  border: 3px solid black;
  background-color: black;
}
.fa-twitter {
  border: 3px solid black;
  background-color: black;
}
.fa-youtube {
  border: 3px solid black;
  background-color: black;
  background: rgb(0, 0, 0);
}
.fa-instagram {
  border: 3px solid black;
  background-color: black;
  background: rgb(0, 0, 0);
}
