img {
  width: 70%;
  float: center;
  margin-left:3px;
}

.header {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;

}

table, th, td {
  border-bottom: 1px ;
  border-left: 1px ;
  text-align: center;
  margin-right: 30%;
  border-style:double;
  background-color: rgb(238 239 228);
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

td {
  text-align: center;
}
th:hover
{
    background-color: rgb(0, 0, 0);
    color:white;
}

body{
    margin: 0px;
}
h2
{
	margin-left:3px;
}

.navbar {
	display: flex;
	flex-direction: row;
	position:sticky;
	top:0;
	background-color:white;
}




.navbar a {
	font-family:'Brush Script MT';
	padding: 1% 1%;
	font-size:18px;
	margin-left:2%;
  float: left;
	color:black;
	text-decoration:none;
}

.navbar a:hover {
	opacity:0.5;
	color:white;
	background-color:#05a081;
}



#logo {
	margin-left:3%;
	float:left;
}
#navlogin {
	background-color:#05a081;
	color:white;
}
.dd{
	position: relative;
	
}
.ddb{
	background-color: #04AA6D;
  	color: white;
  	padding: 16px;
  	font-size: 16px;
	height: 100%;
  	border: none;
}
.contdd {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:160px;
	float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.contdd a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
  	display: block;
	width: 75%;
}
.contdd a :hover {background-color: #ddd;}
.dd:hover .contdd{
	display: block;
}
.dd:hover .ddb{
	background-color: #3e8e41;
}


#footer{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    position:sticky;
    background-color: #17242d;
    height: 250px;
    width: 100%;
}
#footer .link {
    height: 100%;
}
.c{
	
    display: flex;
    flex-direction: row;
}
.c li{
	
    margin-bottom: 16px;
}
.c a {
	color:white;
	
	
}
.fa {
    padding: 15px 10px;
    font-size: 30px; 
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(211, 211, 211);
  }
.fa a{
    margin: 20px;
}
.fa:hover {
	border: 3px solid white;
	
}
  .fa-facebook {  
    border: 3px solid black;
    background-color: black;
  }
  .fa-twitter {
    border: 3px solid black;
    background-color: black;
  }
  .fa-youtube {
    border: 3px solid black;
    background-color: black;
    background: rgb(0, 0, 0);
  }
  .fa-instagram {
    border: 3px solid black;
    background-color: black;
    background: rgb(0, 0, 0);
  }



p{
   font-size: 20px;
   margin-left: 5px;
}

#contentlist {
    height: 100%;
    background-color: black;
	position: fixed;
	width: 14%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #000000;
  position: fixed;
  height: 50%;
  overflow: auto;
}

.nav li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}


.nav li a:hover  {
  background-color: #555;
  color: white;
}






